@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Jua&display=swap');

/* 
    font-family: 'Prompt', sans-serif;
    font-family: 'DynaPuff', cursive;
    font-family: 'Jua', sans-serif;
*/

.cf {
    margin: 0;
    padding: 0;
    clear: both;
}

* {
    word-break: keep-all;
}

#header {
    /* padding: 40px 0; */
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #ddd;
    background: #acb2f738;
    z-index: 9999;
}

#header #nav h1 {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translatey(-50%);
    overflow: hidden;
}

#header #nav h1 img {
    width: 100%;
}

#header #nav .menu {
    width: 60%;
    display: block;
    height: auto;
    position: absolute;
    /* padding: 10px 0; */
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
}

#header #nav .menu .ham {
    display: none;
}

#header #nav .menu .depth1 >li{
    float: left;
    width: 15%;
    text-align: center;
    font-size: 25px;
}

#header #nav .menu .depth1 >li>a{
    font-family: 'Jua', sans-serif;
}

#header #nav .menu .depth1 .depth2 h2 {
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Jua', sans-serif;
}

#header #nav .menu .depth2 li {
    font-size: 14px;
}

#header #nav .menu .depth2 p {
    font-weight: normal;
}


#header #nav .menu .depth1 .depth2 {
    width: 20%;
    margin-top: 0px;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #edeefd;
    position: absolute;
    top: 100%;
    text-align: left;
    transform: translateX(-20px);
    padding: 5px 10px 20px;
    display: none;
}

/* #header #nav .menu .depth1 >li:hover >.depth2 {
    display: block; */
    /* transform: translateX(-40px); */
    /* opacity: 1; */
/* } */

#header .membership {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 20%;
    text-align: right;
}

#header .membership a {
    font-family: 'DynaPuff', cursive;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0px 3px;
    width: 28%;
    height: 30px;
    line-height: 1.8em;
    text-align: center;
    display: inline-block;
}


/* section */
#section {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

#section #ballpointpenbg {
    width: 27%;
    height: 50%;
    background: url(../images/ballpointpen.jpg) no-repeat;
    background-size: auto;
    background-position: -170px 100px;
    /* background: red; */
    position: absolute;
    bottom: 0;
    right: -4%;
}

#section #signbox {
    position: relative;
    max-width: 700px;
    height: 890px;
    box-shadow: 2px 2px 2px #999;
    margin: 0 auto 100px;
    padding: 100px 3% 55px 4%;
    background: url(../images/signinbg2.png) no-repeat;
    background-size: 100% 100%;
    border: 1px solid #0000003d;
    
}

#section #signbox h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
    letter-spacing: 0.3em;
    padding-bottom: 20px;
}

#section #signbox .photo {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 9%;
    right: 11%;
    width: 140px;
    height: 150px;
    border: 1px solid #000;
    background: #fff url(http://localhost:52330/css/../images/믹히.png) no-repeat;
    background-size: 75%;
    background-position: 60% 101%;
    text-align: center;
}

#section #signbox .photo-change {
    background: #fff url(http://localhost:52330/css/../images/믹히2.png) no-repeat;
    background-size: 105%;
    background-position: 40% 19px;
}

#section #signbox .personalinfo {
    padding: 15px 0;
}

#section #signbox .personalinfo .birth,
#section #signbox .personalinfo .email,
#section #signbox .personalinfo .box {
    height: 40px;
    font-size: 16px;
    border: 1px solid #0000003d;
    box-shadow: 0px 1px 3px #999;
    margin: 0 1px 2px 0;
}

#section #signbox .personalinfo .name input{
    width: 40%;
}

#section #signbox .personalinfo p {
    width: 100%;
    height: 53px;
    /* margin: 5px 0; */
    line-height: 1.5;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    transform: translateY(9px);
    /* background: red;*/
}

#section #signbox .personalinfo p span {
    float: left;
    width: 26%;
    font-size: 15px;
    font-weight: bold;
}

#section #signbox .personalinfo .box {
    display: block;
    width: 72%;
    border-radius: 10px;
    padding: 0 10px;
}

#section #signbox .personalinfo #id {
    position: relative;
}


#section #signbox .personalinfo #id .id {
    width: 52%;
}

#section #signbox .personalinfo #id .id +.idbtn {
    background-color: #739d9d;
    color: yellow;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 10px;
}

#section #signbox .personalinfo .box:focus {
    background-color: antiquewhite;
    /* border: none; */
}


#signbox .personalinfo .birth {
    /* margin-right: 10px; */
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}

#signbox .personalinfo .birth:nth-child(2) {
    width: 27%;
}
#signbox .personalinfo .birth:nth-child(3) {
    width: 21%;
}
#signbox .personalinfo .birth:nth-child(4) {
    width: 21%;
    margin-right: 0;
}

#signbox .personalinfo p:nth-child(6) {
    position: relative;
}

#signbox .personalinfo .email {
    /* margin: 3px 0; */
    height: 40px;
    display: block;
    width: 72% !important;
    border-radius: 10px;
}

#signbox .personalinfo .email:nth-child(2) {
    width: 30% !important;
    float: left;
}
#signbox .personalinfo .email:nth-child(3) {
    width: 34% !important;
    float: right;
    transform: translatex(-13px);
}

.spimg {
    background: url(../images/spimg.png) no-repeat;
    background-size: 830%;
}

#signbox .personalinfo .cb {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    left: 144px;
    display: none;
    background-color: red;
}

#signbox .agree {
    position: relative;
}

#signbox .agree .emailcomment {
    font-size: 13px !important;
    width: 240px !important;
    color: red;
    position: absolute;
    top: 2px;
    left: 180px;
    opacity: 0;
}

#signbox .agree .snscomment {
    font-size: 13px !important;
    width: 240px !important;
    color: red;
    position: absolute;
    top: 2px;
    left: 180px;
    opacity: 0;
}

#signbox .personalinfo .agree .ecb:checked ~label {
    opacity: 1;
}
#signbox .personalinfo .agree .scb:checked ~label {
    opacity: 1;
}

#signbox .personalinfo .agree #emailagree:checked +label {
    background-position: -84px -45px;
    /* background-color: red; */
}
#signbox .personalinfo .agree #snsagree:checked +label {
    background-position: -84px -45px;
    /* background-color: red; */
}

#signbox .personalinfo #emailagree +label{
    /* background-color: red; */
    width: 34px;
    height: 34px;
    position: absolute;
    background-position: -84px -5px;
    top: 5px;
    left: 25%;
}
#signbox .personalinfo #snsagree +label{
    /* background-color: red; */
    width: 34px;
    height: 34px;
    position: absolute;
    background-position: -84px -5px;
    top: 5px;
    left: 25%;
}

#signbox .personalinfo .agree #snsagree:checked +label {
    background-position: -84px -45px;
    /* background-color: red; */
}

#signbox .personalinfo .psbtn {
    text-align: center;
    margin: 32px 0;
}

#signbox .personalinfo .psbtn a {
    border-radius: 10px;
    width: 40%;
    padding: 10px 10px;
    background: #7d62bfb3;
    margin: 0 5px;
    box-shadow: 2px 2px 4px #cfb48a;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}


/* -------------------------------------------
#section .art1 ul li img {
    opacity: 0.1;
}



#section .art1 ul li:nth-child(1) {
    
    animation: photoslide 1.5s 60s ;

   animation-fill-mode: alternate; 
    
}
#section .art1 ul li:nth-child(2) {
    animation: photoslide 1.5s 50s ;
    animation-delay: 5s;
}
#section .art1 ul li:nth-child(3) {
    animation: photoslide 1.5s 40s ;
    animation-delay: 10s;
}
#section .art1 ul li:nth-child(4) {
    animation: photoslide 1.5s 30s ;
    animation-delay: 10s;

}
#section .art1 ul li:nth-child(5) {
    animation: photoslide 1.5s 20s ;
    animation-delay: 15s;

}
#section .art1 ul li:nth-child(6) {
    animation: photoslide 1.5s 10s ;
    animation-delay: 20s;

}
#section .art1 ul li:nth-child(7) {
    animation: photoslide 1.5s  ;
    animation-delay: 25s;

} */

/* footer */
#footer {
    position: relative;
}

#footerbx {
    position: relative;
    padding: 80px 0;
    background-color: #cfb48a;
    height: 300px;
}

#footer #footerbx .step1 {
    margin: 0 auto;
    width: 100%;
    /* position: relative; */
    text-align: center;
    transform: translateY(-20px);
}

#footer .step1 .ftlogo {
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    
}

#footer .step1 .ftlogo img {
    padding: 10px 10px;
}

#footer .sns {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30%;
    display: inline;
    text-align: right;
    opacity: 0.7;
    padding: 0;
}

#footer .sns a {
    padding: 0 6%;
    font-size: 35px;
}

#footer .policy {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


#footer .policy ul {
    text-align: center;
}

#footer .policy ul li {
    display: inline;
    font-size: 20px;
    padding: 10px 10px;
}

#footer .step2 {
    width: 26%;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translateY(-60%);
    right: 2%;
    font-size: 16px;
    font-weight: bold;
    background: white;
}

#footer .copyright {
    border: 1px solid blue;
    /* height: 140px; */
    margin: 10px;
    padding: 0 10px;
    background-color: #fff;
    overflow: hidden;
}

#footer .step2 .copyright p {
    margin: 10px 0;
    
}
